<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            <p>
                Search:
                <input
                    ng-model="$ctrl.query"
                    ng-change="$ctrl.handleSearch()"
                />
            </p>

            <p>
                Sort by:
                <select ng-model="$ctrl.orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                    <option value="-age">Oldest</option>
                </select>
            </p>
        </div>
        <button ng-click="$ctrl.foo()">click</button>
        <div class="col-md-10">
            <!--Body content-->
            <div>{{filteredPhones.length}}</div>
            <ul class="phones">
                <li ng-repeat="phone in filteredPhones" class="thumbnail">
                    <a href="#!/phones/{{phone.id}}" class="thumb">
                        <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
                    </a>
                    <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
