<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            <p>
                Search:
                <input
                    ng-model="query"
                    ng-change="handleWorker(query, phoneData, searchWorker)"
                />
            </p>

            <p>
                Sort by:
                <select
                    ng-model="orderProp"
                    ng-change="handleWorker(orderProp, phoneData, sortWorker)"
                >
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                    <option value="-age">Oldest</option>
                </select>
            </p>
        </div>
        <div class="col-md-10">
            <!--Body content-->
            <div>{{phones.length}}</div>
            <ul class="phones">
                <li ng-repeat="phone in phones" class="thumbnail">
                    <a href="#!/phones/{{phone.id}}" class="thumb">
                        <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
                    </a>
                    <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
